.swiperStart .swiper-button-prev,
.swiperStart .swiper-button-next {
    top: 48% ;
    width: 60px ;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    -webkit-box-shadow: 1px 1px 6px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 6px -4px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 6px -4px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiperStart .swiper-button-prev.swiper-button-disabled,
.swiperStart .swiper-button-next.swiper-button-disabled {
    display: none;
}

.swiperStart .swiper-button-prev:hover,
.swiperStart .swiper-button-next:hover{
    background-color: rgb(249, 249, 249);
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.25);
    -webkit-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.25);
}

.swiperStart .swiper-button-prev::after,
.swiperStart .swiper-button-next::after {
    font-size: 24px;
    font-weight: 600;
}