.swiperCategorias .swiper-button-prev,
.swiperCategorias .swiper-button-next {
    top: 47%;
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    -webkit-box-shadow: 1px 1px 6px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 6px -4px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 6px -4px rgba(0,0,0,0.75);
}
.swiperCategorias .swiper-button-prev {
    left: 15px;
}

.swiperCategorias .swiper-button-next {
    right: 18px;
}

.swiperCategorias .swiper-button-prev.swiper-button-disabled,
.swiperCategorias .swiper-button-next.swiper-button-disabled {
    opacity: 0;
}

.swiperCategorias .swiper-button-prev:hover,
.swiperCategorias .swiper-button-next:hover{
    background-color: rgb(248, 248, 248);
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.25);
    -webkit-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.25);
}

.swiperCategorias .swiper-button-prev::after,
.swiperCategorias .swiper-button-next::after {
    font-size: 24px;
    font-weight: 600;
}

.swiperCategorias .swiper-button-next::after {
    margin-left: 5px;
}

.swiperCategorias .swiper-button-prev::after {
    margin-right: 5px;
}

.swiperCategorias .swiper-pagination-bullet {
    height: 6px;
    width: 6px;
    transform: translate(583px,-330px);
    margin: 2px !important;
}

.swiperCategorias .swiper-pagination-bullet-active {
    height: 6px;
    width: 6px;
}