.swiperCategorias {
    z-index: 0;
}

.swiperCategorias .swiper-button-prev,
.swiperCategorias .swiper-button-next {
    top: 47%;
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    -webkit-box-shadow: 1px 1px 6px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 6px -4px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 6px -4px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiperCategorias .swiper-button-prev {
    left: 9px;
}

.swiperCategorias .swiper-button-next {
    right: 9px;
}

.swiperCategorias .swiper-button-prev.swiper-button-disabled,
.swiperCategorias .swiper-button-next.swiper-button-disabled {
    display: none;
}

.swiperCategorias .swiper-button-prev:hover,
.swiperCategorias .swiper-button-next:hover{
    background-color: rgb(249, 249, 249);
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.25);
    -webkit-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.25);
}

.swiperCategorias .swiper-button-prev::after,
.swiperCategorias .swiper-button-next::after {
    font-size: 24px;
    font-weight: 600;
}

.swiperCategorias .swiper-pagination-bullet {
    height: 7px;
    width: 7px;
    transform: translate(578px,-327px);
    margin: 2px !important;
}

.swiperCategorias .swiper-pagination-bullet-active {
    height: 7px;
    width: 7px;
}